@use './mixins';

// Add flex direction
// => .flex-row
@include mixins.insert-breackpoints-class('flex','flex-direction', row, column, row-reverse, column-reverse);

// Add flex wrap
// => .flex-wrap
@include mixins.insert-breackpoints-class('flex','flex-wrap', wrap, nowrap, wrap-reverse);

// Add Flex justify content
// => .flex-justify-start
$_flex-justify : (
    start: flex-start,
    end: flex-end,
    center: center,
    between: space-between,
    around: space-around,
    evenly: space-evenly
);

@include mixins.insert-breackpoints-class('flex-justify','justify-content', $_flex-justify);

// Add Flex align items / self / content
// => .flex-align-items-start
$_flex-align-items-self : (
    start: flex-start,
    end: flex-end,
    center: center,
    baseline: baseline,
    stretch: stretch
);

@include mixins.insert-breackpoints-class('flex-align-items','align-items', $_flex-align-items-self);
@include mixins.insert-breackpoints-class('flex-align-self','align-self', $_flex-align-items-self);

$_flex-align-content : (
    start: flex-start,
    end: flex-end,
    center: center,
    stretch: stretch,
    between: space-between,
    around: space-around
);
@include mixins.insert-breackpoints-class('flex-align-content','align-content', $_flex-align-content);
