@use './mixins';

// Set float position
// .float-left
@include mixins.insert-breackpoints-class('float','float', left, right, none);

// Create .clearfix class for a breackpoints
@include mixins.insert-breackpoints-class('clearfix::after') {
    content: '';
    display: table;
    clear: both;
};
