@use './mixins';

// Add overflow
// => .overflow-visible
$_overflow: (
    visible: visible,
    hidden: hidden,
    auto: auto,
    scroll: scroll
);
@include mixins.insert-breackpoints-class('overflow','overflow', $_overflow);
@include mixins.insert-breackpoints-class('overflow-x','overflow-x', $_overflow);
@include mixins.insert-breackpoints-class('overflow-y','overflow-y', $_overflow);
