@use './../utils';

@viewport {
    width: auto, device-width;
}

html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    all: initial;
    font-size: utils.$rem-baseline;
    height: 100%;
    line-height: initial;
    scroll-behavior: smooth;
    width: 100%;

    :where(*:not(svg, svg *), use) {
        all: revert;
    }
}

*, *::after, *::before{
    box-sizing: inherit;
}

body {
    box-sizing: border-box;
    margin: 0;
    min-height: 100%;
    overflow-x: hidden;
}

// If user have prefers-reduced-motion: reduce as preference
// Set animation duration to 0.001s for all
// Like this animation is not visible
// and js can detect when an animation is finished to continue some task
@media
    (prefers-reduced-motion: reduce) {
    * {
        animation-duration: 0.001s !important;
    }
}